body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-wrapper {
  background: white;
  width: 90%;
  border-radius: 50px;
  padding: 40px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}
.logo span {
  color: pink;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}
.nav-links a {
  text-decoration: none;
  color: #666;
  font-weight: 500;
}
.nav-links a.active {
  color: pink;
}

.login-btn {
  background: pink;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 20px;
  cursor: pointer;
}

.hero {
  text-align: left;
  margin-bottom: 40px;
}
.hero h1 {
  font-size: 3rem;
  margin: 0;
  color: black;
}
.hero p {
  color: #888;
  font-size: 19px;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 20px;
}

.card {
  text-align: center;
  padding: 20px;
  border-radius: 100px 100px 30px 30px;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 120px;
  margin-bottom: 15px;
}

.card h3 {
  margin: 10px 0;
  font-size: 17px;
}

.card .price {
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 15px;
}
.details {
  font-size: 13px;
  color: #555;
  margin: 15px 0;
  text-align: center;
  padding: 0 20px;
}

.weight {
  display: inline-block;
  background: rgba(255, 255, 255, 0.5);
  padding: 2px 8px;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 8px;
}

.ingredients {
  line-height: 1.4;
  font-size: 12px;
  opacity: 0.8;
}

.add-btn {
  border: none;
  color: white;
  padding: 8px 30px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.9;
}

.add-btn:hover {
  opacity: 1;
}
.filter-wrapper {
  background: pink;
  padding: 15px;
  border-radius: 15px;
  display: inline-block;
}

.filter-wrapper label {
  font-weight: bold;
  margin-right: 10px;
  color: #333;
}

#flavor-select {
  padding: 8px 15px;
  border-radius: 10px;
  border: 2px solid pink;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  background: white;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
}
